* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #fff;
  --text-color: #22100d;
  --second-color: #eef1fb;
  --main-color: #405ff2;
  --on-hover: #253896;

  --big-font: 3.8rem;
  --h2-font: 2.6rem;
  --p-font: 1.1rem;

  --transition: all 0.5s ease-in-out;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 13%;
  background-color: transparent;
  transition: var(--transition);
  /* background-color: var(--bg-color); */
}

.logo img {
  width: 160px;
  max-width: 100%;
  height: auto;
}

.navbar {
  display: flex;
}

.navbar a {
  color: var(--text-color);
  font-size: var(--p-font);
  font-weight: 500;
  padding: 10px 22px;
  transition: var(--transition);
}

.navbar a:hover {
  color: var(--main-color);
}

.header-icons {
  display: flex;
  align-items: center;
}

.header-icons i {
  margin-left: 10px;
  font-size: 22px;
  color: var(--text-color);
  margin-right: 15px;
  transition: var(--transition);
}

.header-icons i:hover {
  color: var(--main-color);
  font-size: 28px;
}

#menu-icon {
  font-size: 34px;
  color: var(--text-color);
  cursor: pointer;
  z-index: 1001;
  display: none;
}

header.sticky {
  background-color: var(--bg-color);
  padding: 12px 13%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

section {
  padding: 80px 13px;
}

.home {
  background-color: var(--bg-color);
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

.home-text {
  text-align: center;
  padding-bottom: 80px;
}

.home-text p {
  color: var(--main-color);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.hompxe-text h1 {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  font-size: var(--big-font);
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--bg-color);
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

form div {
  margin: 0 10px;
}

form div label {
  font-weight: 700;
  color: #333;
}

form select,
form input[type="number"] {
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 10px;
}

form button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #303b72;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: var(--transition);
}

form button:hover {
  background: var(--on-hover);
  transform: scale(1.05);
}

.home-img {
  margin-top: 25px;
}

.home-img img {
  max-width: 100%;
}

.container {
  padding: 70px 13px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 1.5rem;
  align-items: center;
  cursor: pointer;
}

.container h2 {
  color: red;
  font-size: 2em;
  grid-column: 1/-1;
  text-align: center;
  margin-bottom: 20px;
}

.container-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  bottom: 1px solid #dce4ee;
  border-radius: 20px;
  padding: 20px 30px;
  transition: var(--transition);
}

.container-box:hover {
  background-color: var(--second-color);
  transform: translateY(-10px);
}

.center-text {
  text-align: center;
}

.center-text h5 {
  color: var(--main-color);
  letter-spacing: 1px;
}

.center-text h2 {
  font-size: var(--h2-font);
}

.categories-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 1.5rem;
  align-items: center;
  cursor: pointer;
  text-align: center;
}

.box {
  border: 1px solid #dce4fd;
  border-radius: 20px;
  padding: 20px 30px;
  transition: var(--transition);
}

.box:hover {
  background-color: var(--second-color);
  transform: translateY(-10px);
}

.box img {
  height: auto;
}

.box h3:hover {
  color: var(--main-color);
}

.main-btn {
  text-align: center;
  margin-top: 4rem;
}

.btn {
  text-decoration: none;
  color: #fff;
  background: var(--main-color);
  padding: 10px 15px;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
  border-radius: 8px;
}

.btn:hover {
  background-color: #405ef2c9;
}

.shop-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  gap: 2rem;
  margin-top: 3rem;
  align-items: center;
  cursor: pointer;
}

.row {
  background: rgb(26, 26, 26);
  color: #fff;
  padding: 0px 0px 10px 0px;
  border-radius: 10px;
  overflow: hidden;
  transition: var(--transition);
}

.row:hover {
  transform: translateY(-15px);
}

.row img {
  /* width: 100%;
  height: 100%; */
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

.shop-text {
  padding: 30px 25px;
}

.shop-text h5 {
  font-size: 25px;
  font-weight: 800;
}

.shop-text h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 10px;
  margin: 15px 0 15px;
  transition: var(--transition);
}

.shop-text h3:hover {
  text-decoration: underline;
}

.view-details-link {
  color: #fff;
  display: block;
  text-decoration: none;
  margin-top: 10px;
  transition: var(--transition);
}
.view-details-link:hover{
  text-decoration: underline;
}
